@model IEnumerable<CEPiK.Models.Us>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Uzytkownik</h2>
        @if (Model.Any())
        {
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>UserName</th>
                </tr>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.UserName</td>
                    </tr>

                }
            </table>

        }
        else
        {
            <p>Brak uzytkownika</p>

        }
    </div>
</div>

<div class="row">
    <h2>Centralna Ewidencja Pojazdów i Kierowców</h2>
    <h3>Witaj w podsystemie obsługi centralnej ewidencji pojazdów i kierowców przeznaczonej dla starostwa</h3>
</div>
