@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <h2>Centralna Ewidencja Pojazdów i Kierowców</h2>
    <h3>Witaj w podsystemie obsługi centralnej ewidencji pojazdów i kierowców przeznaczonej dla starostwa</h3>
</div>
